@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,html, body{
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100vw;
  overflow-x: hidden;
}
.main{
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    color: var(--dark);
}
/*TYPOGRAPHY*/
h2,h3,h4,p,a{
  font-family: "Mulish";
}
h1{
  font-size: 1.75rem;
  font-family: "Shrikhand";
  text-align: center;
}
h1 > span{
  color: var(--red);
  text-decoration: underline;
  font-size: 2.5rem;
}
a{
    font-family: "Shrikhand";
}

/*Colors*/
:root {
  --dark: #2A3136;
  --pink: #F1BCCF;
  --red: #9C3136;
  --blue: #8CA8B2;
}
::selection {
  background: var(--pink);
}
/*BUTTONS*/

/*LINKS*/
.grab{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: var(--dark);
}

/*NAV*/
.nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px){
  .nav{
      justify-content: center;
  }
    .nav-right a {
      margin-left: 0 !important;
      padding: 0 2rem;
    }
}
.navbar {
  padding: 1rem 2.5rem;
}
.nav-left .logo{
  max-width: 80px;
  display: block;
  flex: 1;
}
.nav-right a{
  margin-left: 5rem;
}
